<h1>
  Welcome to the Landing Page!
</h1>

<div>
  <p>Click Login to login to our system</p>
  <p>OR</p>
  <button mat-raised-button color="primary" routerLink="/sign-up">
    Sign Up!
  </button>
</div>
